@{
    ViewData["Title"] = "Home Page";
    @model SurveyShowModel

}

<div class="text-center">
    <div class="row">
        <div class="card col-8 offset-2">
            <div class="card-header">
                <h2>@Model.Survey.Title</h2>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <a class="btn btn-primary mt-1 mb-4 mx-1 col-auto" asp-action="Fill" asp-controller="Survey" asp-route-id="@Model.Survey.Id">Wypełnij</a>
                    @if ((bool)ViewData["isAdmin"])
                    {
                        <a class="btn btn-primary mt-1 mb-4 mx-1 col-auto" asp-action="Edit" asp-controller="Survey" asp-route-id="@Model.Survey.Id">Edytuj</a>
                        <a class="btn btn-primary mt-1 mb-4 mx-1 col-auto" asp-action="Publish" asp-controller="Survey" asp-route-id="@Model.Survey.Id">Publikuj/Ukryj</a>
                        <a class="btn btn-primary mt-1 mb-4 mx-1 col-auto" asp-action="Result" asp-controller="Survey" asp-route-id="@Model.Survey.Id">Wyniki</a>
                        <a class="btn btn-primary mt-1 mb-4 mx-1 col-auto" asp-action="Delete" asp-controller="Survey" asp-route-id="@Model.Survey.Id">Usuń</a>
                    }
                    <a class="btn btn-primary mt-1 mb-4 mx-1 col-auto" asp-action="Userpage" asp-controller="Home">Strona użytkownika</a>
                    <a class="btn btn-primary mt-1 mb-4 mx-1 col-auto" asp-action="Index" asp-controller="Home">Strona główna</a>
                </div>
                @foreach (var question in Model.Questions)
                {
                    <p>@question.Content</p>

                    @foreach (var answer in Model.Answers)
                    {
                        if (answer.QuestionId == question.Id)
                        {
                            <p>@answer.Content</p>
                        }
                       
                    }
                }
            </div>
        </div>
    </div>
</div>
